/PrimeSnakeSolver$Coordinate.class
/PrimeSnakeSolver$Snake.class
/PrimeSnakeSolver.class
/PrimeSnakeSolverBruteForce$Coordinate.class
/PrimeSnakeSolverBruteForce$Snake.class
/PrimeSnakeSolverBruteForce.class
/Test.class
/PrimeSnakeSolverMinimumEachStep$Coordinate.class
/PrimeSnakeSolverMinimumEachStep$Snake.class
/PrimeSnakeSolverMinimumEachStep.class
/PrimeSnakeSolverBruteForce2$Coordinate.class
/PrimeSnakeSolverBruteForce2$Snake.class
/PrimeSnakeSolverBruteForce2.class
/.classpath
/.project
/bin/
